img[src*="#floating"] {
  float: right;
  margin-left: 10px;
}

img[src*="#halffloating"] {
  float: right;
  margin: 10px;
  width: 50%;
}

img[src*="#center"] {
  display: block;
  margin: auto;
}

img[src*="#halfcenter"] {
  width: 50%;
  display: block;
  margin: auto;
}
